<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/bibi.png" type="image/gif" sizes="16x16">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" />

    <meta charset="utf-8">
    <title>Bibi</title>
</head>
