<!-- <div style="position:absolute;right:15px;top:5px;">
    <div class="button" style="line-height:50px">
        <a data-testid="linkElement" href="" target="_blank" class="link">
            <span class="button_text">Buy Me a Coffee</span>
        </a>
    </div>
</div> -->
<!-- <div class="" style="display:flex;flex-direction:row;background-color:#A88ABD;width:100%;top:0px;left:0px">
    <div class="topHeaders">
        <a href="#">
            <span>d12</span>
        </a>
    </div>
</div> -->
<div class="" style="width:100%;">
<ul>
  <li id="home"><a  href="/">Home</a></li>
  <li id="commands"><a  href="/commands">Commands</a></li>
  <!-- <li style="float:right;background-color: #BA83F0;" class="donate"><a href="/">Buy Me A Coffee</a></li> -->
</ul>
</div>
