<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<html lang="en" dir="ltr">
    <% include ../partials/head %>
    <body>
        <% include ../partials/header %>
       <div class="container">
          <div>
            <span class="header" style="font-size:44px">Bibi</span>
            <p class="font_7">
              <span style="color:#A88ABD;">A simple, multi-purpose social Brawl Stars discord bot
              </span>
            </p>
            <div class="button_container">
                 <div class="button">
                   <a data-testid="linkElement" href="https://discord.com/api/oauth2/authorize?client_id=713181335623041076&amp;permissions=388166&amp;scope=bot" target="_blank" class="link">
                     <span class="button_text">Add To Discord</span>
                   </a>
                 </div>
                   <div class="button">
                   <a data-testid="linkElement" href="https://discord.gg/nCh7AwG" target="_blank" class="link">               <span class="button_text">Support Server</span>
                   </a>
                 </div>
          </div>
          </div>
          <div class='image'><img src="https://cdn.discordapp.com/attachments/715773831322664962/741325658608894043/bibi-3.png"></div>
        </div>
        <div class="container">
          <div id="image" class="effect2" data-aos="fade-right" data-aos-easing="ease-in-sine">
            <img class="preview resp" src="https://cdn.discordapp.com/attachments/715773831322664962/741324759933124649/Screen_Shot_2020-07-04_at_2_25_48_PM.png"/>
          </div>
          <div id="image" class="text">
            <p class="font_7 text" style="font-size: 31px;">
               <span style="font-weight:bold;"><span style="font-size:31px;">
                 <span style="color:#A88ABD">Leveling</span></span></span>
            </p>
            <p class="font_7"><span class="color_13">The more you chat the more you level up! Incentivize your       members!</span></p>
          </div>
        </div>
        <div class="container">
            <div id="image" class="text swapped">
            <p class="font_7 text" style="font-size: 31px;">
               <span style="font-weight:bold;"><span style="font-size:31px;">
                 <span style="color:#A88ABD">Brawl Stars</span></span></span>
            </p>
            <p class="font_7"><span class="color_13">Very unique Brawl Stars related commands!</span></p>
          </div>
          <div id="image" class="effect2 swapped" data-aos="fade-left" data-aos-easing="ease-in-sine">
              <img class="preview resp" src="https://cdn.discordapp.com/attachments/715773831322664962/741326168065572942/Screen_Shot_2020-07-04_at_2_38_32_PM.png"/>
            </div>
          </div>
        <div class="container">
          <div id="image" class="effect2" data-aos="fade-right" data-aos-easing="ease-in-sine">
              <img class="preview resp" src="https://cdn.discordapp.com/attachments/715773831322664962/741326420852342814/Screen_Shot_2020-07-04_at_2_43_53_PM.png"/>
            </div>
            <div id="image" class="text">
              <p class="font_7 text" style="font-size: 31px;">
                 <span style="font-weight:bold;"><span style="font-size:31px;">
                   <span style="color:#A88ABD">Fun</span></span></span>
              </p>
              <p class="font_7"><span class="color_13">Exciting commands such as ship, 8ball, flip, meme, say, etc!!</span></p>
          </div>
        </div>
        <div class="container">
            <div id="image" class="text swapped">
            <p class="font_7 text" style="font-size: 31px;">
               <span style="font-weight:bold;"><span style="font-size:31px;">
                 <span style="color:#A88ABD">Emotes</span></span></span>
            </p>
            <p class="font_7"><span class="color_13">Cool emotes to use with your friends such as hug, slap, yeet, and attack!</span></p>
          </div>
          <div id="image" class="effect2 swapped" data-aos="fade-left" data-aos-easing="ease-in-sine">
              <img class="preview resp" src="https://cdn.discordapp.com/attachments/715773831322664962/741328991750848562/Screen_Shot_2020-08-07_at_9_13_32_AM.png"/>
            </div>
        </div>
        <div class="container">
          <div id="image" class="effect2" data-aos="fade-right" data-aos-easing="ease-in-sine">
              <img class="preview resp" src="https://cdn.discordapp.com/attachments/715773831322664962/741326656131825764/Untitled_design-93.png"/>
            </div>
            <div id="image" class="text">
              <p class="font_7 text" style="font-size: 31px;">
                 <span style="font-weight:bold;"><span style="font-size:31px;">
                   <span style="color:#A88ABD">Moderation</span></span></span>
              </p>
              <p class="font_7"><span class="color_13">Moderation commands to keep your server safe!</span></p>
          </div>
        </div>
        <div class="container">
            <div id="image" class="text swapped">
            <p class="font_7 text" style="font-size: 31px;">
               <span style="font-weight:bold;"><span style="font-size:31px;">
                 <span style="color:#A88ABD">Welcome Cards</span></span></span>
            </p>
            <p class="font_7"><span class="color_13">Beautiful welcome cards to give new members a warm welcome! Set welcome messages, leave messages, welcome cards, and much more!</span></p>
          </div>
          <div id="image" class="effect3 swapped" data-aos="fade-left" data-aos-easing="ease-in-sine">
              <img class="preview resp" src="https://cdn.discordapp.com/attachments/715773831322664962/741327032935514182/Screen_Shot_2020-07-04_at_3_02_21_PM.png"/>
            </div>
        </div>
        <div class="footer">
          <p class="font_7"><span class="color_11"><span style="font-size: 31px; font-weight: bold;">Want to Support Bibi?</span></span>
          </p>
              <div class="button_container footer">
                 <div class="button footer">
                   <a data-testid="linkElement" href="https://top.gg/bot/713181335623041076/vote" target="_blank" class="link">
                     <span class="button_text footer">Vote</span>
                   </a>
                 </div>
          </div>
        </div>
        <script type="text/javascript" src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js">

        </script>
        <script type="text/javascript" src="js/javascript.js">

        </script>
        <script>
        $(document).ready(function(){
            $("li").each(function(){
                var name=$(this).attr("id");
                console.log(name)
                if(name=="home")
                $(this).children().addClass("active")
                else {
                    $(this).children().removeClass("active")
                }
            })
        })
        </script>
    </body>
</html>
